@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container{
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin: 4em;
  font-family: 'Poppins', sans-serif;
}
.blog{
  margin-bottom: 2em;
}
header{
  display:flex;
  align-items: center;
}
.author .name{
  font-weight: bold;
  font-size: large;
  margin-left: 1rem;
}
.text{
  font-weight: lighter;
  font-size: large;

}
footer{
  line-height: 1rem;
}
.avatar img{
   height: 60px;
   width: 60px;
   border-radius: 50%;
   object-fit: cover;
}

.image img{
  height: 70%;
  width: 70%;
  border-radius: 8px;
}
.error{
  color: red;
}

.skeleton-blog{
  background: gray;
  height: 10px;
  width: 10px;
}